.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card p {
  margin: 10px 20px;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#de685e, #ee786e);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .profile-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .profile-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .profile-card .yob,
.card .additional .profile-card .gender {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .profile-card .gender {
  top: 85%;
}

.card .additional .profile-card img {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card .additional .more-info h3 {
  color: #fff;
  margin-top: 10%;
  margin-bottom: 0;
  text-align: center;
}

.card .additional .films {
  display: flex;
  position: absolute;
  top: 50%;
  left: 1rem;
  right: 2rem;
  color: #fff;
}

.card .additional .films > div {
  flex: 1;
  text-align: center;
}

.card .additional .films div.title {
  font-size: 2em;
  margin: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  font-size: 0.9em;
}
